<section class="body">
    <main class="container">
        <h2>Login</h2>
        <form action="">
            <div class="input">
                <input type="email" name="email" id="email" placeholder="Entre com seu e-mail">
                <div class="underline"></div>
            </div>
            <div class="input">
                <input type="password" name="senha" id="senha" placeholder="Entre com sua senha">
                <div class="underline"></div>
            </div>
            <button onclick="enviar()" type="submit" value="">Continue</button>
        </form>
        <div class="footer">
            <span>ou cadastre se com redes sociais</span>
            <div class="social">
                <div class="social twitter">
                    <a href="https://twitter.com/">
                        <img src="/assets/twitter.svg" alt="">
                        inscreva-se com Twitter
                    </a>
                </div>
                <div class="social facebook">
                    <a href="https://www.facebook.com/">
                        <img src="/assets/facebook.svg" alt="">
                        inscreva-se com Facebook
                    </a>
                </div>
            </div>
        </div>
    </main>
   
</section>
<app-footer></app-footer>
