<section class="body">
   
      <h1>Jogos de Xbox</h1>
      <owl-carousel-o id="xbox" [options]="customOptions">
        <ng-template carouselSlide>
          <div class="slide">
            <img src="/assets/jogo3.jfif" alt="img 1">
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <img src="/assets/jogo2.jfif" alt="img 2">
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <img src="/assets/jogo6.jfif" alt="img 3">
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <img src="/assets/jogo1.jfif" alt="img 4">
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <img src="/assets/jogo3.jfif" alt="img 5">
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <img src="/assets/jogo8.jfif
            " alt="img 6">
          </div>
        </ng-template>
      </owl-carousel-o>
    
   
      <h1>Jogos de PlayStation</h1>
      <owl-carousel-o id="xbox" [options]="customOptions">
        <ng-template carouselSlide>
          <div class="slide">
            <img src="/assets/jogo3.jfif" alt="img 1">
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <img src="/assets/jogo16.jpg" alt="img 2">
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <img src="/assets/jogo15.jpg" alt="img 3">
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <img src="/assets/jogo16.jpg" alt="img 4">
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <img src="/assets/jogo18.jpg" alt="img 5">
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <img src="/assets/jogo18.jpg
            " alt="img 6">
          </div>
        </ng-template>
      </owl-carousel-o>

      <h1>Acessórios e Jogos de Pc Gamer</h1>
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <div class="slide">
            <img src="/assets/cadeira1.jpg" alt="img 1">
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <img src="/assets/controle.jpg" alt="img 2">
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <img src="/assets/cooler.jpg" alt="img 3">
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <img src="/assets/cpu.jpg" alt="img 4">
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <img src="/assets/jogo3.jfif" alt="img 5">
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <img src="/assets/jogo8.jfif
            " alt="img 6">
          </div>
        </ng-template>
      </owl-carousel-o>
    <app-footer></app-footer>
    
    </section>
